@import url("https://fonts.cdnfonts.com/css/proxima-nova-2?styles=44818,44820,44812");

:root {
  --content-size: min(calc(100% - 2rem), 73rem);
  --ff-sans-serif: "Proxima Nova", "sans-serif";
  --primary-clr: hsl(248, 31%, 20%);
}

body {
  width: var(--content-size);
  margin: 0 auto;
  font-family: var(--ff-sans-serif);
  color: var(--primary-clr);
}
